<div class="body">
    <p>Hello!</p>
    <p>We have received a new attendee! Here are the details:</p>
    <p>Event name: {{ event['name'] }}</p>
    <p>Event location: {{ event['location'] }}</p>
    <p>Attendee email: {{ attendee['email'] }}</p>
</div>